# Archivos de Sistema Operativo
.DS_Store # macOS
Thumbs.db # Windows

# Archivos y Carpetas de Entornos de Desarrollo
.vscode/
.idea/
*.swp
*~

# Dependencias y Entornos Virtuales (Si usas Python, Node.js, etc.)
node_modules/
venv/
env/
__pycache__/

# Archivos de Configuración Local y Build
# Nunca subir la configuración de la base de datos o claves privadas
.env
*.local.*
dist/
build/

